<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Student Manager</title>
</head>
<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="mb-4" src="static/image/logo.png" width="95" height="70">
            <h1>学生注册管理系统</h1>
            <p class="lead">本系统用于录入学生的基本信息: 姓名 性别 学号 学院 专业 班级</p>
        </div>
        <div class="row">
            <div class="col-sm-4 mt-3">
                <h4>添加学生信息</h4>
                <form id="stuInfo">
                    <div class="form-group">
                        <label class="col-form-label">学生姓名</label>
                        <input type="text" name="sname" class="form-control" placeholder="姓名"
                               pattern="^[\u4e00-\u9fa5_a-zA-Z]+$" title="请输入中文或英文字符"  required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">性别</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" name="sgender" value="male" id="sgender1" class="custom-control-input" checked>
                            <label class="custom-control-label" for="sgender1" >男</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" name="sgender" value="female" id="sgender2" class="custom-control-input">
                            <label class="custom-control-label" for="sgender2">女</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">学号</label>
                        <input type="text" name="snum" class="form-control" placeholder="学号"
                               pattern="^[\w]+$" title="请输入数字/英文/下划线" required>
                    </div>
                    <div class="form-group">
                        <label>学院</label>
                        <select name="sschool" class="form-control">
                            <option disabled value="">请选择</option>
                            <option value="软件学院" >软件学院</option>
                            <option value="计算机学院">计算机学院</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">专业</label>
                        <select name="smajor" class="form-control">
                            <option disabled value="">请选择</option>
                            <option value="软件工程" >软件工程</option>
                            <option value="数字媒体技术">数字媒体技术</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">班级</label>
                        <select name="sclass" class="form-control">
                            <option disabled value="">请选择</option>
                            <option value="1501班" >1501班</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">入学年份</label>
                        <input type="date" name="stime" class="form-control" required>
                    </div>
                    <button type="submit" id="addStuBtn" class="btn btn-lg btn-primary col-sm-12">添加学生</button>
                </form>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7" id="stu-list">
                <h4 class="mt-3">学生列表</h4>
                <ul class="list-group">
                    <template v-for="(stu, index) in students">
                        <li class="list-group-item">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-sm-9">
                                    <div class="row align-items-center">
                                        <div class="col-sm-2">
                                            <small>{{ stu.sname }}</small>
                                        </div>
                                        <div v-if="stu.sgender === 'male'" class="col-sm-1">
                                            <small>男</small>
                                        </div>
                                        <div v-else class="col-sm-1">
                                            <small>女</small>
                                        </div>
                                        <div class="col-sm-6 ml-auto">
                                            <small>{{ stu.snum }}</small>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="col-sm-6">
                                            <small>{{ stu.sschool }}-{{ stu.smajor }}-{{ stu.sclass }}</small>
                                        </div>
                                        <div class="col-sm-6">
                                            <small>入学年份: {{ stu.stime}}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-sm" v-on:click="v_modifyStu(index)">修改</button>
                                        <button type="button" class="btn btn-danger btn-sm" v-on:click="v_deleteStu(stu.id)">删除</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>
                <div class="modal fade" id="modifyStuModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">修改学生信息</h4>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="modifyStuForm">
                                    <div class="form-group">
                                        <label class="col-form-label">学生姓名</label>
                                        <input type="text" id="snameModal" name="sname" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">性别</label>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" name="sgender" value="male" id="sgenderModal1" class="custom-control-input">
                                            <label class="custom-control-label" for="sgenderModal1" >男</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" name="sgender" value="female" id="sgenderModal2" class="custom-control-input">
                                            <label class="custom-control-label" for="sgenderModal2">女</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">学号</label>
                                        <input type="text" id="snumModal" name="snum" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">学院</label>
                                        <select name="sschool" id="sschoolModal" class="form-control">
                                            <option disabled value="">请选择</option>
                                            <option value="软件学院" >软件学院</option>
                                            <option value="计算机学院">计算机学院</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">专业</label>
                                        <select name="smajor" id="smajorModal" class="form-control">
                                            <option disabled value="">请选择</option>
                                            <option value="软件工程" >软件工程</option>
                                            <option value="数字媒体技术">数字媒体技术</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">班级</label>
                                        <select name="sclass" id="sclassModal" class="form-control">
                                            <option disabled value="">请选择</option>
                                            <option value="1501班" >1501班</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">入学年份</label>
                                        <input type="date" id="stimeModal" name="stime" class="form-control">
                                    </div>
                                    <input type="hidden" name="id" id="modifyIdModal">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="submit" id="comfirmModifyBtn" onclick="modifyStu(event)" class="btn btn-primary">确认修改</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p>&copy;2018 HUST SSE</p>
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="static/js/index.js"></script>
</body>
</html>